<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<%= render "application/upcoming_events" %>

<h2>Preview a tune</h2>
<% if @embed_info %>
  <%# Ewwww!!! Don't like using html_safe %>
  <%= @embed_info['html'].html_safe %>
<% else %>
  <p>Sorry, we couldn't find anything to preview for you...</p>
<% end %>
