<h2>Welcome</h2>
<p>
We want to create an online resource where music lovers can visit to know what
band is coming to Montreal soon and when and where and be able to
preview/listen to at least a song to have an idea.
</p>

<p>
This was developed as part of a coding challenge. See the
<%= link_to "github page", "https://github.com/steakunderscore/cheap-thrills" %>
for more information.
</p>
