<h1><%= link_to "Cheap Thrills", root_path %></li>

<ul>
  <li><%= link_to "Upcoming Events", events_path %></li>
  <li><%= link_to "Checkout Artists", artists_path %></li>
  <li><%= link_to "Venues", venues_path %></li>
</ul>
